# --- Система контроля версий ---
.git
.gitignore
.github

# --- Настройки IDE и ОС ---
.idea
.vscode
.DS_Store
*.swp

# --- Локальные файлы сборки и логи ---
# Игнорируем папку, куда обычно собирают бинарники локально
bin/
build/
dist/
*.log
*.out
*.exe

# --- Документация и конфиги разработки ---
README.md
LICENSE
Makefile
docker-compose.yml
docker-compose.*.yml
.golangci.yml

# --- Секреты (КРИТИЧНО ВАЖНО) ---
.env
.env.local
*.pem
*.key

# --- Инфраструктура и GitOps ---
# Эти файлы нужны для развертывания (k8s, helm),
# но приложение внутри контейнера их не использует.
gitops/
k8s/
helm/
charts/
infra/
terraform/
iac/

# --- Зависимости (если используете go modules) ---
# Мы хотим, чтобы Docker скачивал зависимости сам (для чистоты сборки),
# поэтому игнорируем локальную папку vendor, если она есть.
vendor/